@media screen and (max-width: 400px){
	body{
		font-size: 1.3rem;
	}
	/* BANNER */
	.banner .conteudo p{
		font-size: 13px;
	}
	.banner .conteudo img{
		width: 30px;
		height: 30px;
	}
	/* SOBRE */
	.sobre{
		padding: 20px 0 !important;
	}
	.flexbox-justify-center{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.sobre-nome{
		font-size: 25px;
		padding: 5px;
	}
	/* SERVIÇOS */
	.servicos{
		display: flex;
    	flex-direction: column;
	}
	.servicos .servico-item{
		width: 100%;
	}
	.order:nth-child(2){
		order:1;
	}
	/* FORMULARIO */
	.botao-form{
		margin-top: 20px;
		justify-content: center;
    	align-self: center;
    	display: flex;
	}
	.formulario h1{
		font-size: 25px;
	}
	

@media screen and (max-width: 800px){

}

@media screen and (max-width: 1143px){

}