body{
	margin: 0;
	padding: 0;
}

/* cores 
#1d1c21
#f2a519
*/

/* MENU */
.menu {
  background-color: #1d1c21; }

nav.nav {
  position: relative; }

.nav.hamburger {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  padding: 1rem;
  cursor: pointer; }

.nav.logo {
  display: inline-block;
  padding: 1rem 0 .3rem; }

.nav a {
  transition: all .5s;
  display: inline-block;
  color: #f2a519;
  text-decoration: none;
  padding: 2.5rem;
  padding-left: 0; }

.nav a:visited {
  color: #f2a519;
}

.nav.menu a:hover {
  transition: all .5s;
  text-decoration: underline;
  cursor: pointer;
  transition: all .3s;
  color:#fff; 
}

.nav.menu {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out .2s; }

.nav.menu.aberto {
  max-height: 30rem;
  text-align: center; }

@media screen and (min-width: 799px) {
  .nav.link {
    padding-left: 2.5rem; }
  .nav.menu {
    justify-content: flex-end;
    flex-flow: row wrap;
    max-height: 20rem; }
  .nav.hamburger {
    display: none; } }
/* FIM DO MENU */

/* BANNER */
.banner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.banner video{
  position: relative;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
}

.mascara-video{
  width: 100%;
  display: block;
  margin: 0 auto;
  background: url(../img/mascara-vid.png) repeat center;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.banner .conteudo{
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner-p{
  font-size: 3rem;
  color:#fff;
}
.texto1, .texto2{
  padding-left:10px; 
  margin-bottom:10px;
  border-left: 3px solid #f2a519;
}
.banner-botao{
  display: block;
  margin: 0 auto;
}
/* FIM DO BANNER */

/* SOBRE */
.sobre{
  padding: 100px 0;
}
.sobre-nome{
  text-align: center;
  color:#f2a519;
  background-color: #1d1c21;
  
}
.sobre-img{
  max-width: 100%;
}
.sobre-p{

}
/* FIM DO SOBRE */

/* SERVICOS */
.servicos{
  display:flex;
}
.servico-item{
  width:33.33%;
}
.servico-foto{
  height:350px;
  box-sizing: border-box;
  width: 100%;
}
.servico-icon{
  display: block;
  margin: 0 auto;
}
.servico-p{
  padding: 20px;
}
.servico-info{
  height:350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* FIM DO SERVICOS */

/* BANNER FIXO */
.banner-fixo{
    width: 100%;
    height: 450px;
    background-image: url(../img/banner-fixo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* BANNER FIXO */

/* FORMULÁRIO */
form .textarea{
  height:200px;
  background-color: #1d1c21;
  border-bottom: 2px solid #606060;
  border-top:none;
  border-left:none;
  border-right:none;
  color:#606060;
}
form .nome{
  background-color: #1d1c21;
  border-bottom: 2px solid #606060;
  border-top:none;
  border-left:none;
  border-right:none;
  color:#606060;
}
form .email{
  background-color: #1d1c21;
  border-bottom: 2px solid #606060;
  border-top:none;
  border-left:none;
  border-right:none;
  color:#606060;
}
form .tel{
  background-color: #1d1c21;
  border-bottom: 2px solid #606060;
  border-top:none;
  border-left:none;
  border-right:none;
  color:#606060;
}
.botao-form button{
  float:right;
  border: 2px solid #606060;
  background-color: #1d1c21;
  color:#606060;
  text-transform: uppercase;
  transition: all .5s;
}
.botao-form button:hover{
  background-color: #606060;
  color:#1d1c21;
  cursor:pointer;
  transition: all .5s;
}

.formulario{
  padding: 50px 0 100px 0;
  background-color: #1d1c21;
  border-bottom: 1px solid #606060;
}
.formulario .title{
  text-align: center;
  color:#808080;
}

/* FOOTER */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #1d1c21;
}
.logo img{
  max-width: 100%;
}
.footer .logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .contato{
  text-align: center;
  border-left: 1px solid #606060;
  border-right: 1px solid #606060;
}
.footer .contato span{
  color:#707070;
}
.footer .contato a{
  color:#707070;
}
.footer .contato a:hover{
  color:#505050;
  text-decoration: none;
}
.footer .midias{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

/* BOTOES */
.sobre button{
  float: right;
}

.sobre .botao.destacado,.sobre button.botao.destacado,
.sobre input[type="button"].botao.destacado{
  background-color: #fff;
  border: 2px solid #f2a519;
  color:#f2a519;
  transition: all .5s;
}

.sobre .botao.destacado:hover,.sobre button.botao.destacado:hover,
.sobre .botao.destacado:focus,.sobre button.botao.destacado:focus,
.sobre input[type="button"].botao.destacado:focus{
  background-color: #f2a519;
  cursor: pointer;
  color:#fff;
  transition: all .5s;
}

.servico-info .botao.destacado,.servico-info button.botao.destacado,
.servico-info input[type="button"].botao.destacado{
  background-color: #fff;
  border: 2px solid #f2a519;
  color:#f2a519;
  transition: all .5s;
}

.servico-info .botao.destacado:hover,.servico-info button.botao.destacado:hover,
.servico-info .botao.destacado:focus,.servico-info button.botao.destacado:focus,
.servico-info input[type="button"].botao.destacado:focus{
  background-color: #f2a519;
  cursor: pointer;
  color:#fff;
  transition: all .5s;
}

/* PAGINA SOBRE */
.about{
  padding: 100px 0;
}

.about-img{
  max-width: 100%;

}
.about-title{
  color:#f2a519;
  border-top: 3px solid #f2a519;
}